@model Bloody_Roar_2.Personaje

<h2>Detalles del Personaje</h2>

<p><b>Id:</b> @Model.IdPersonaje</p>
<p><b>Nombre:</b> @Model.Nombre</p>
<p><b>Nombre Bestia:</b> @Model.NombreBestia</p>
<p><b>Resistencia Bestia:</b> @Model.ResistenciaBestia</p>
<p><b>Ataques:</b> @Model.Ataques</p>

<a asp-action="Index">Volver a la lista</a>
