@model Bloody_Roar_2.Combate

<h2>Detalle de Combate</h2>

<div class="card p-3" style="width:300px;">
    <p><strong>Id Combate:</strong> @Model.IdCombate</p>
    <p><strong>Id Personaje:</strong> @Model.IdPersonaje</p>
    <p><strong>Id Usuario:</strong> @Model.IdUsuario</p>
    <p><strong>Id Modo de Juego:</strong> @Model.IdModo_Juego</p>
    <p><strong>Duración:</strong> @Model.Duracion</p>
</div>

<a asp-action="Index" class="btn btn-secondary mt-2">Volver a la lista</a>
